<% include _header %>


<!-- Page Content -->
<div class="container nodepop-adverts">

        <div class="row">
  
          <div class="col-lg-3">
  
            <h1 class="my-4"><%= __('Nodepop Shop') %></h1>
            <div class="list-group">
              <a href="?" class="list-group-item"><%= __('All Items (max. 1000)') %></a>
              <a href="?sort=precio" class="list-group-item"><%= __('Ordered asc by price') %></a>
              <a href="?sort=-precio" class="list-group-item"><%= __('Ordered desc by price') %></a>
              <a href="?tag=mobile" class="list-group-item"><%= __('Items with mobile tag') %></a>
            </div>
  
          </div>
          <!-- /.col-lg-3 -->
  
          <div class="col-lg-9">
            
            
  
            <div class="row nodepop-adverts">

                    <%if(result.length>0) {
                    result.forEach(function(advert){%>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="<%=advert.foto%>" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">
                                        <%=advert.nombre%></a>
                                </h4>
                                <h5>
                                    <%=advert.precio%>$</h5>
                                <% if (advert.venta) { %>
                                <p class="card-text">
                                    <%= __('Looking for this item') %>
                                </p>
                                <% } else { %>
                                <p class="card-text">
                                    <%= __('This item is for selling') %>
                                </p>
                                <%} %>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <%=advert.tags%></small>
                            </div>
        
                        </div>
        
                    </div>
                    <%})} else {%>
                    <div class="card-tex">No se encontraron artículos que mostrar.</div>
                    <%}%>
                </div>
      
            <!-- /.row -->
  
          </div>
          <!-- /.col-lg-9 -->
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->

<% include _footer %>