<% include _header %>
  
      <section class="bg-primary text-white mb-0">
        <div class="container">
          <h2 class="text-center text-uppercase text-white"><%= __('SECOND-HAND SHOP API') %></h2>
          <hr class="star-light mb-5">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <p class="lead"> <%= __('Nodepop API is a free api rest for selling second-hand items on IOS or Android platforms.') %></p>
            </div>
            <div class="col-lg-4 mr-auto">
              <p class="lead">
                <%= __('This api is built in NodeJS, Express and MongoDB.')%><br/>
                <%= __('You can see our documentation in')%> <a class="link-nodepop" href="https://github.com/noemenend/Nodepop/wiki">Github</a>
                </p>
            </div>
          </div>
          <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://github.com/noemenend/Nodepop">
              <i class="fas fa-download mr-2"></i>
              <%= __('Download Now!') %>
            </a>
          </div>
        </div>
      </section>
  

<% include _footer %>